.section__about {
  background-color: $color-gray-50;
  padding: 30rem 0 40rem 0;
  margin-top: -15vh;
}

.section-features {
  padding: 35rem 0;
  background-image: linear-gradient(
      to left top,
      rgba($color-green-light, 0.8),
      rgba($color-green-dark, 0.8)
    ),
    url(../img/Boulderbase/9W0A9154.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -15rem;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-angebote {
  background-color: $color-gray-50;
  padding: 40rem 0 15rem 0;
  margin-top: -12vh;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 89.7%, 0 100%);
}

.section-stories {
  padding: 30rem 0;
  position: relative;
  top: -15.84rem;
}
