.card {
  //funktionen
  perspective: 150rem; //muss im parent container sein.
  -moz-perspective: 150rem;
  position: relative;
  height: $card-height;
  &__side {
    height: $card-height;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
    &--front {
      text-align: center;
      background: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background: linear-gradient(
          to right bottom,
          rgba($color-green-light, 0.8),
          rgba($color-green-dark, 0.8)
        );
      }
      &-2 {
        background: linear-gradient(
          to right bottom,
          rgba($color-red-light, 0.8),
          rgba($color-red-dark, 0.8)
        );
      }
      &-3 {
        background: linear-gradient(
          to right bottom,
          rgba($color-blue-light, 0.8),
          rgba($color-blue-dark, 0.8)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  //Frontside Styling
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color-burn;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        ),
        url(../img/Boulderbase/9W0A9218.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-red-light,
          $color-red-dark
        ),
        url(../img/Boulderbase/9W0A9083.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        ),
        url(../img/Boulderbase/9W0A9108.jpg);
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 13rem;
    right: 2rem;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 2rem;
    -webkit-box-decoration-break: clone;
    &--1 {
      background: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.85),
        rgba($color-green-dark, 0.85)
      );
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
      border-radius: 0.3rem;
    }
    &--2 {
      background: linear-gradient(
        to right bottom,
        rgba($color-red-light, 0.85),
        rgba($color-red-dark, 0.85)
      );
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
      border-radius: 0.3rem;
    }
    &--3 {
      background: linear-gradient(
        to right bottom,
        rgba($color-blue-light, 0.85),
        rgba($color-blue-dark, 0.85)
      );
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
      border-radius: 0.3rem;
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-300;
        }
      }
    }
  }

  //back side Styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__price-box {
    text-align: center;
    color: $color-white;
    &--description {
      &-1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      &-2 {
        font-size: 1.4rem;
        font-weight: 100;
        margin-bottom: 0.2rem;
      }
    }
    &--value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
